<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Division</title>
</head>
<body>

<form th:method="POST" th:action="@{/calculator/division}" th:object="${calculator}">
    <label for="a">First number: </label>
    <input type="number" th:field="*{a}" id="a">

    <br/>

    <label for="b">Second number: </label>
    <input type="number" th:field="*{b}" id="b">

    <br/>
    <br/>

    <input type="submit" value="OK">
</form>

<br/>
<hr/>


</body>
</html>